#img1{
  margin-top: 10px;
  margin-bottom: 50px;
  width: 600px;
  height: 200px;
}
#card1{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 250px;
    width: 400px;
	height:300px;
}
#card2{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
    width: 400px;
	height:300px;
}