/* Font copied in place by React Studio. Please check that your license for this font file permits embedding on a website. */
@font-face {
  font-family: 'Papyrus';
  src: url('fonts/Papyrus.ttf');
}

.font-papyrus {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
}
@media (min-resolution: 120dpi) {
  .font-papyrus {
    font-family: 'Papyrus', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  }
}

/* Font copied in place by React Studio. Please check that your license for this font file permits embedding on a website. */
@font-face {
  font-family: 'Didot';
  src: url('fonts/Didot.ttf');
}

.font-didot {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
}
@media (min-resolution: 120dpi) {
  .font-didot {
    font-family: 'Didot', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  }
}

.App { /* Base font style */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 23.7px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(0, 0, 0, 0.8500);
  background-color: #f6f6f6;
}

.App .baseFont * { /* Base font style override for UI framework components */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 23.7px;
}

.App .appBg {
  background-color: #f6f6f6;
}

.App .cardBg {
  background-color: white;
}

.App .baseTextBg { /* Base text color as background */
  background-color: rgba(0, 0, 0, 0.8500);
}

.App .secondaryTextColor {
  color: rgba(0, 0, 0, 0.5000);
}

.App .secondaryTextBg {
  background-color: rgba(0, 0, 0, 0.5000);
}

.App .primaryTextColor {
  color: #a9a9a9;
}

.App .primaryBg {
  background-color: #a9a9a9;
}

.App .highlightTextColor {
  color: #929292;
}

.App .highlightBg {
  background-color: #929292;
}

/* Styles to customize the UI framework plugin (MUI, https://muicss.com) */
.mui-btn {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.mui-btn--primary {
    background-color: #a9a9a9;
}
.mui-btn--primary:active, .mui-btn--primary:focus, .mui-btn--primary:hover {
    background-color: #b1b1b1;
}
.mui-btn--accent {
    background-color: #929292;
}
.mui-btn--accent:active, .mui-btn--accent:focus, .mui-btn--accent:hover {
    background-color: #9d9d9d;
}
.mui-textfield {  /* Reset UI framework styling that affects layout */
    padding-top: 0;
    margin-bottom: 0;
}
.mui-checkbox, .mui-radio {  /* Reset UI framework styling that affects layout */
    margin-top: 0;
    margin-bottom: 0;
}
.mui-select {  /* Reset UI framework styling that affects layout */
    padding-top: 0;
    margin-bottom: 0;
}
.mui-btn+.mui-btn {  /* Reset UI framework styling that affects layout */
    margin-left: 0;
}
.mui-btn--fab {  /* Reset UI framework styling that breaks compositing */
    z-index: auto;
}

@keyframes fadeIn {
    0%   { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@keyframes slideIn_right {
    0%   { transform: translateX(100%); }
    100% { transform: translateX(0); }
}
@keyframes slideIn_bottom {
    0%   { transform: translateY(100%); }
    100% { transform: translateY(0); }
}

/* App-wide text styles specified in React Studio */
.App .actionFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 14.2px;
  font-weight: 400;
}
.App .actionFont * {
  font-size: 14.2px;
}
.App .headlineFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 19.4px;
  font-weight: 400;
}
.App .headlineFont * {
  font-size: 19.4px;
}
.App .navBar {
  background-color: #a9a9a9;
  color: black;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 18px;
}

.App .navBar a {
  color: black;
}

.App .navBar .title {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 4px;
  margin-top: 14px;
}

.App .navBar .backBtn {
  position: absolute;
  padding: 4px;
  margin-left: 14px;
  margin-top: 14px;
  cursor: pointer;
}

@media (min-width: 320px) {
  .mui-container {
    max-width: 320px;
  }
}
@media (min-width: 568px) {
  .mui-container {
    max-width: 568px;
  }
}
@media (min-width: 768px) {
  .mui-container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .mui-container {
    max-width: 1024px;
  }
}

.AppScreen {
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  width: 100%;
}

.App .background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.App .layoutFlow {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  float: left;
}
.App .layoutFlow:after {
  content: "";
  display: table;
  clear: both;
}
.App .layoutFlow .flowRow {
  position: relative;
  width: 100%;
}

.App .screenFgContainer {
  /* Items in the foreground group within a screen are placed with fixed positioning */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
.App .foreground {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.App .compContent {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.App ul {
  margin: 0;
  padding: 0;
}
.App li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}
.App .hasNestedComps {
  position: relative;
}
.App .hasNestedComps:after {
  content: "";
  display: table;
  clear: both;
}
.App .hasNestedComps .background {
  position: absolute;
}
.App .hasNestedComps .layoutFlow {
  position: relative;
}
.App .hasNestedComps .foreground {
  position: absolute;
}
.App .bottomAlignedContent {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* This component has a fixed-size layout */
  .Component10 {
    min-height: 473px;
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 669px */
  }
  .Component10 > .background > .containerMinHeight {
    min-height: 473px;
  }


  .Component10 .elBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    height: 100%;
  }


  .Component10 .elImage {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 668px;
    height: 473px;
  }


  .Component10 .elImageCopy3 {
    position: absolute;
    left: 28px;
    top: 19px;
    width: 272px;
    height: 429px;
  }


  .Component10 .elImageCopy {
    position: absolute;
    left: 320px;
    top: 17px;
    width: 319px;
    height: 204px;
  }


  .Component10 .elImageCopy2 {
    position: absolute;
    left: 320px;
    top: 242px;
    width: 319px;
    height: 204px;
  }

/* This component has a fixed-size layout */
  .Component9 {
    min-height: 473px;
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 669px */
  }
  .Component9 > .background > .containerMinHeight {
    min-height: 473px;
  }


  .Component9 .elImage {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 668px;
    height: 473px;
  }


  .Component9 .elImageCopy3 {
    position: absolute;
    left: 30px;
    top: 12px;
    width: 182px;
    height: 236px;
  }


  .Component9 .elImageCopy {
    position: absolute;
    left: 240px;
    top: 12px;
    width: 182px;
    height: 236px;
  }


  .Component9 .elImageCopy2 {
    position: absolute;
    left: 455px;
    top: 12px;
    width: 182px;
    height: 236px;
  }


  .Component9 .elImageCopy4 {
    position: absolute;
    left: 24px;
    top: 262px;
    width: 620px;
    height: 193px;
  }

.Page10Screen {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}



  .Page10Screen > .background > .elBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }


  .Page10Screen > .layoutFlow > .elComponent {
    position: relative;
    margin-top: 136px;
    width: 672px;
    margin-left: 0px;
  }
  .Page10Screen > .layoutFlow > .elComponent > * { 
  width: 672px;
  height: 476px;
  }
  
  .Page10Screen > .layoutFlow > .elComponent > .background > .containerMinHeight {
    min-height: 476px;
  }


/* This component has a fixed-size layout */
  .Component8 {
    min-height: 473px;
    width: 100%; /* This component was designed using a width of 669px */
  }
  .Component8 > .background > .containerMinHeight {
    min-height: 473px;
  }


  .Component8 .elImage {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 668px;
    height: 473px;
  }


  .Component8 .elCardCopy2 {
    position: relative;
    margin-top: 18px;
    width: 276px;
    margin-left: 44px;
  }
  .Component8 .elCardCopy2 > * { 
  width: 276px;
  height: 427px;
  }
  


  .Component8 .elCardCopy {
    position: relative;
    margin-top: -426px;
    width: 276px;
    margin-left: 350px;
  }
  .Component8 .elCardCopy > * { 
  width: 276px;
  height: 427px;
  }
  

.Page9Screen {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}



  .Page9Screen > .background > .elBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }


  .Page9Screen > .layoutFlow > .elComponent {
    position: relative;
    margin-top: 136px;
    width: 672px;
    margin-left: 0px;
  }
  .Page9Screen > .layoutFlow > .elComponent > * { 
  width: 672px;
  height: 476px;
  }
  
  .Page9Screen > .layoutFlow > .elComponent > .background > .containerMinHeight {
    min-height: 476px;
  }


.Page9Screen .elButton button {
  border: 0.0px solid transparent;
}



  .Page9Screen > .layoutFlow > .elButton {
    line-height: 35px;
    position: relative;
    margin-top: 48px;
    width: 145px;
    margin-left: 263px;
  }
  .Page9Screen > .layoutFlow > .elButton > * { 
  width: 145px;
  height: 35px;
  }
  

/* This component has a fixed-size layout */
  .Component7 {
    min-height: 473px;
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 669px */
  }
  .Component7 > .background > .containerMinHeight {
    min-height: 473px;
  }


  .Component7 .elImage {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 668px;
    height: 473px;
  }


  .Component7 .elImageCopy {
    position: absolute;
    left: 38px;
    top: 32px;
    width: 586px;
    height: 193px;
  }


  .Component7 .elImageCopy3 {
    position: absolute;
    left: 38px;
    top: 245px;
    width: 586px;
    height: 193px;
  }

.Page8Screen {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}



  .Page8Screen > .background > .elBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }


  .Page8Screen > .layoutFlow > .elComponent {
    position: relative;
    margin-top: 136px;
    width: 672px;
    margin-left: 0px;
  }
  .Page8Screen > .layoutFlow > .elComponent > * { 
  width: 672px;
  height: 476px;
  }
  
  .Page8Screen > .layoutFlow > .elComponent > .background > .containerMinHeight {
    min-height: 476px;
  }


.Page8Screen .elButton button {
  border: 0.0px solid transparent;
}



  .Page8Screen > .layoutFlow > .elButton {
    line-height: 35px;
    position: relative;
    margin-top: 48px;
    width: 145px;
    margin-left: 263px;
  }
  .Page8Screen > .layoutFlow > .elButton > * { 
  width: 145px;
  height: 35px;
  }
  

/* This component has a fixed-size layout */
  .Component6 {
    min-height: 473px;
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 669px */
  }
  .Component6 > .background > .containerMinHeight {
    min-height: 473px;
  }


  .Component6 .elImage {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 668px;
    height: 473px;
  }


  .Component6 .elImageCopy3 {
    position: absolute;
    left: 354px;
    top: 12px;
    width: 276px;
    height: 438px;
  }


  .Component6 .elImageCopy4 {
    position: absolute;
    left: 31px;
    top: 16px;
    width: 282px;
    height: 209px;
  }


  .Component6 .elImageCopy {
    position: absolute;
    left: 32px;
    top: 238px;
    width: 282px;
    height: 209px;
  }

.Page7Screen {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}



  .Page7Screen > .background > .elBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }


  .Page7Screen > .layoutFlow > .elComponent {
    position: relative;
    margin-top: 136px;
    width: 672px;
    margin-left: 0px;
  }
  .Page7Screen > .layoutFlow > .elComponent > * { 
  width: 672px;
  height: 476px;
  }
  
  .Page7Screen > .layoutFlow > .elComponent > .background > .containerMinHeight {
    min-height: 476px;
  }


.Page7Screen .elButton button {
  border: 0.0px solid transparent;
}



  .Page7Screen > .layoutFlow > .elButton {
    line-height: 35px;
    position: relative;
    margin-top: 48px;
    width: 145px;
    margin-left: 263px;
  }
  .Page7Screen > .layoutFlow > .elButton > * { 
  width: 145px;
  height: 35px;
  }
  

/* This component has a fixed-size layout */
  .Component5 {
    min-height: 473px;
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 669px */
  }
  .Component5 > .background > .containerMinHeight {
    min-height: 473px;
  }


  .Component5 .elImage {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 668px;
    height: 473px;
  }


  .Component5 .elImage2 {
    position: absolute;
    left: 219px;
    top: 0px;
    width: 228px;
    height: 473px;
  }


  .Component5 .elImageCopy5 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 219px;
    height: 236px;
  }


  .Component5 .elImageCopy2 {
    position: absolute;
    left: 0px;
    top: 235px;
    width: 219px;
    height: 236px;
  }


  .Component5 .elImageCopy3 {
    position: absolute;
    left: 447px;
    top: 0px;
    width: 219px;
    height: 236px;
  }


  .Component5 .elImageCopy4 {
    position: absolute;
    left: 446px;
    top: 234px;
    width: 219px;
    height: 236px;
  }

.Page6Screen {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}



  .Page6Screen > .background > .elBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }


  .Page6Screen > .layoutFlow > .elComponent {
    position: relative;
    margin-top: 136px;
    width: 672px;
    margin-left: 0px;
  }
  .Page6Screen > .layoutFlow > .elComponent > * { 
  width: 672px;
  height: 476px;
  }
  
  .Page6Screen > .layoutFlow > .elComponent > .background > .containerMinHeight {
    min-height: 476px;
  }


.Page6Screen .elButton button {
  border: 0.0px solid transparent;
}



  .Page6Screen > .layoutFlow > .elButton {
    line-height: 35px;
    position: relative;
    margin-top: 48px;
    width: 145px;
    margin-left: 263px;
  }
  .Page6Screen > .layoutFlow > .elButton > * { 
  width: 145px;
  height: 35px;
  }
  

/* This component has a fixed-size layout */
  .Component4 {
    min-height: 473px;
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 669px */
  }
  .Component4 > .background > .containerMinHeight {
    min-height: 473px;
  }


  .Component4 .elImage {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 668px;
    height: 473px;
  }


  .Component4 .elText {
    overflow: hidden;
    position: absolute;
    left: 383px;
    top: 58px;
    width: 253px;
    height: 352px;
  }


  .Component4 .elImageCopy4 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 316px;
    height: 473px;
  }

.Page5Screen {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}



  .Page5Screen > .background > .elBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }


  .Page5Screen > .layoutFlow > .elComponent {
    position: relative;
    margin-top: 136px;
    width: 672px;
    margin-left: 0px;
  }
  .Page5Screen > .layoutFlow > .elComponent > * { 
  width: 672px;
  height: 476px;
  }
  
  .Page5Screen > .layoutFlow > .elComponent > .background > .containerMinHeight {
    min-height: 476px;
  }


.Page5Screen .elButton button {
  border: 0.0px solid transparent;
}



  .Page5Screen > .layoutFlow > .elButton {
    line-height: 35px;
    position: relative;
    margin-top: 48px;
    width: 145px;
    margin-left: 263px;
  }
  .Page5Screen > .layoutFlow > .elButton > * { 
  width: 145px;
  height: 35px;
  }
  

/* This component has a fixed-size layout */
  .Component3 {
    min-height: 473px;
    width: 100%; /* This component was designed using a width of 669px */
  }
  .Component3 > .background > .containerMinHeight {
    min-height: 473px;
  }


  .Component3 .elImage {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 668px;
    height: 473px;
  }


  .Component3 .elImage2 {
    position: relative;
    margin-top: 36px;
    width: 590px;
    margin-left: 36px;
  }
  .Component3 .elImage2 > * { 
  width: 590px;
  height: 346px;
  }
  


  .Component3 .elText {
    overflow: hidden;
    position: relative;
    margin-top: 6px;
    margin-left: 133px;
    margin-right: 82px;
    width: calc(100.0% - 215px);
  }
  .Component3 .elText > * { 
    width: 100%;
  height: 72px;
  }
  

.Page4Screen {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}



  .Page4Screen > .background > .elBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }


  .Page4Screen > .layoutFlow > .elComponent {
    position: relative;
    margin-top: 136px;
    width: 672px;
    margin-left: 0px;
  }
  .Page4Screen > .layoutFlow > .elComponent > * { 
  width: 672px;
  height: 476px;
  }
  
  .Page4Screen > .layoutFlow > .elComponent > .background > .containerMinHeight {
    min-height: 476px;
  }


.Page4Screen .elButton button {
  border: 0.0px solid transparent;
}



  .Page4Screen > .layoutFlow > .elButton {
    line-height: 35px;
    position: relative;
    margin-top: 48px;
    width: 145px;
    margin-left: 263px;
  }
  .Page4Screen > .layoutFlow > .elButton > * { 
  width: 145px;
  height: 35px;
  }
  

/* This component has a fixed-size layout */
  .Component2 {
    min-height: 473px;
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 669px */
  }
  .Component2 > .background > .containerMinHeight {
    min-height: 473px;
  }


  .Component2 .elImage {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 668px;
    height: 473px;
  }


  .Component2 .elImageCopy4 {
    position: absolute;
    left: 16px;
    top: 20px;
    width: 300px;
    height: 209px;
  }


  .Component2 .elImageCopy {
    position: absolute;
    left: 350px;
    top: 20px;
    width: 300px;
    height: 209px;
  }


  .Component2 .elImageCopy2 {
    position: absolute;
    left: 16px;
    top: 245px;
    width: 635px;
    height: 209px;
  }

.Page3Screen {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}



  .Page3Screen > .background > .elBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }


  .Page3Screen > .layoutFlow > .elComponent {
    position: relative;
    margin-top: 136px;
    width: 672px;
    margin-left: 0px;
  }
  .Page3Screen > .layoutFlow > .elComponent > * { 
  width: 672px;
  height: 476px;
  }
  
  .Page3Screen > .layoutFlow > .elComponent > .background > .containerMinHeight {
    min-height: 476px;
  }


.Page3Screen .elButton button {
  border: 0.0px solid transparent;
}



  .Page3Screen > .layoutFlow > .elButton {
    line-height: 35px;
    position: relative;
    margin-top: 48px;
    width: 145px;
    margin-left: 263px;
  }
  .Page3Screen > .layoutFlow > .elButton > * { 
  width: 145px;
  height: 35px;
  }
  

/* This component has a fixed-size layout */
  .Component1 {
    min-height: 473px;
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 669px */
  }
  .Component1 > .background > .containerMinHeight {
    min-height: 473px;
  }


  .Component1 .elImage {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 668px;
    height: 473px;
  }


  .Component1 .elImageCopy4 {
    position: absolute;
    left: 24px;
    top: 23px;
    width: 312px;
    height: 273px;
  }


  .Component1 .elImageCopy2 {
    position: absolute;
    left: 346px;
    top: 182px;
    width: 312px;
    height: 273px;
  }

.Page2Screen {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}



  .Page2Screen > .background > .elBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }


  .Page2Screen > .layoutFlow > .elComponent {
    position: relative;
    margin-top: 136px;
    width: 672px;
    margin-left: -6px;
  }
  .Page2Screen > .layoutFlow > .elComponent > * { 
  width: 672px;
  height: 476px;
  }
  
  .Page2Screen > .layoutFlow > .elComponent > .background > .containerMinHeight {
    min-height: 476px;
  }


.Page2Screen .elButton button {
  border: 0.0px solid transparent;
}



  .Page2Screen > .layoutFlow > .elButton {
    line-height: 35px;
    position: relative;
    margin-top: 48px;
    width: 145px;
    margin-left: 263px;
  }
  .Page2Screen > .layoutFlow > .elButton > * { 
  width: 145px;
  height: 35px;
  }
  

.Page1Screen {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}



  .Page1Screen > .background > .elBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }


  .Page1Screen > .layoutFlow > .elComponent {
    position: relative;
    margin-top: 136px;
    width: 672px;
    margin-left: 0px;
  }
  .Page1Screen > .layoutFlow > .elComponent > * { 
  width: 672px;
  height: 476px;
  }
  
  .Page1Screen > .layoutFlow > .elComponent > .background > .containerMinHeight {
    min-height: 476px;
  }


.Page1Screen .elButton button {
  border: 0.0px solid transparent;
}



  .Page1Screen > .layoutFlow > .elButton {
    line-height: 35px;
    position: relative;
    margin-top: 49px;
    width: 145px;
    margin-left: 263px;
  }
  .Page1Screen > .layoutFlow > .elButton > * { 
  width: 145px;
  height: 35px;
  }
  

.StartScreen {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}



  .StartScreen > .background > .elBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }

.StartScreen .elButton button {
  border: 0.0px solid transparent;
}



  .StartScreen > .layoutFlow > .elButton {
    line-height: 27px;
    position: relative;
    margin-top: 558px;
    width: 113px;
    margin-left: 602px;
  }
  .StartScreen > .layoutFlow > .elButton > * { 
  width: 113px;
  height: 27px;
  }
  

