#font{
  font-family: "Times New Roman", Times, serif;
<<<<<<< HEAD
	font-style: oblique;
	font-size: 30px;
	color: #050505;
}

=======
  font-style: oblique;
  color: #070707;
}
#stepper{
  background-color: rgba(102, 133, 165, 0.6);;
}
>>>>>>> 4ea69ab0408ab35033e6961373c44f0c8c1450da
#next
	{
		display: inline-block;
		padding: 1em 2em 1em 2em;
		letter-spacing: 0.10em;
		margin-top: 2em;
		padding: 1em 1em;
		background: #f3cc2f;
		border-radius: 6px;
		text-decoration: none;
		font-weight: 700;
		font-size: 1em;
		color: #3f0900;
  }
  #back
  {
    display: inline-block;
		padding: 1em 2em 1em 2em;
		letter-spacing: 0.10em;
		margin-top: 2em;
		padding: 1em 1em;
		background: #ffffff;
		border-radius: 6px;
		text-decoration: none;
		font-weight: 700;
		font-size: 1em;
		color: #3f0900;
	}
<<<<<<< HEAD
	#paper{
		background:rgba(0, 0, 0, 0.4);
	}
	#root
	{
		background: rgba(0, 0, 0, 0.7);
	}
#img
{
	background: rgba(0, 0, 0, 0.3);
}
=======
>>>>>>> 4ea69ab0408ab35033e6961373c44f0c8c1450da
